/*jay commrnt*/	
/*jay commrnt*//*jay commrnt*//*jay commrnt*/
	
	body {
	 font-family: 'OpenSans';
    color: #333;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    padding-right: 0!important;
}
*, address, h1, h2, h3, h4, h5, h6, label, ol, p, ul {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-Semibold.ttf')  format('truetype'), url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf')  format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*header start*/
header {
  position: absolute;
  top: 0;
  z-index: 9;
  left: 0;
  right: 0;}
.head {
  float: left;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #7c7c7c;}
.backgroundimg{
  width: 100%;
  float: left;
  position: absolute;
  overflow: hidden;
  top:0;
}
.heading{
  position: absolute;
  width: 100%;
  float: left;
  top: 7%;
}
.logo{
  width: 50%;
  float: left;
}
.menu{
  width: 50%;
  float:right;
  padding-top: 5px;
}
.menu nav ul{
  float: right;
}
.menu nav ul li{
  list-style: none;
  display: inline-block;
}
.menu nav ul li a{
  font-size: 15px;
  font-family: 'OpenSans';
  margin-right: 34px;
  text-decoration: none;
  color:#ffffff;
}
.menu nav ul li:last-child a{margin-right: 0px;}
.menu nav ul li a:hover {
  color: #71b6d5;
  transition: ease-in-out 0.4s;
}
/*header over*/
/*slider start*/
.slider{
  width: 100%;
  float: left;
  position: relative;
}

.middletext
{
  position: absolute;
  width: 100%;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.middletext h1{
  font-size: 48px;
  font-family: 'OpenSans-Bold';
  color: #ffffff;
}
.middletext p{
  font-size: 25px;
  font-family: 'OpenSans';
  color: #ffffff;
}
.btn{
  position: absolute;
  top:80%;
  left: 45%;
  background-color: #71b6d5;
  color: #FFF;
  font-size: 17px;
  font-family: 'OpenSans-Bold';
  outline: 0! important;
}
.btn:hover{
  transition: ease-in-out 0.4s;
}
.slider .owl-dots
 {
  position: absolute;
  bottom:3%;
  left:47%;
}
.slider .owl-dots .owl-dot 
{ 
  outline: 0! important;
   margin-right: 29px;
}
.slider .owl-dots .owl-dot span 
{
  background-color: #fff;
  height: 7px;
  width: 7px;
  float: left;
  border-radius: 100%;
}
.slider .owl-dots .owl-dot.active span 
{
  background-color: #71b6d5;
}
.slider .owl-nav .owl-next {
  float:right;
  outline:0 !important;
  margin-right: 3%;
}
.slider .owl-nav .owl-prev {
  float:left;
  outline:0 !important;
  margin-left: 3%;
}
.slider .owl-nav .owl-next span,.owl-nav .owl-prev span  {
  color: #fff;
  font-size: 30px;
  border: 2px solid #fff;
  padding: 0px 20px 6px;
  border-radius: 100%;
}
.slider .owl-nav {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  width:100%;
}
/*slider over*/
/*paragraph start*/
.heading2{
  width: 100%;  
  float: left;
  padding-top: 89px;
  padding-bottom: 95px;
}
.text1{
  font-size: 18px;
  color: #575757;
  font-family: 'OpenSans';
  text-align: center;
  float: left;
  padding: 0 56px;
}
/*paragraph over*/
/*box start*/
.boxes{
  width: 100%;
  float: left;
  padding-bottom: 72px;
}
.box{
  width: 30%;
  float: left;
  border: 1px solid #e1e1e1;
  margin-right: 5%;
}
.box:last-child {
  margin-right: 0;
}
.backgroundimg2{
  position: relative;
  width: 100%;
  float: left;
  text-align: center;
}
.box:hover .backgroundimg2{
  opacity: 0.7;
  transition: ease-in-out 0.4s;
  border-top: 0;
}
.box:hover .logo1{
  opacity: 1;
}
.logo1{
  position: absolute;
  top: -50px;
  left: 50%;
  float: left;
  transform: translateX(-50%);
}
.text2{
  width: 100%;
  float: left;
}
.text2 h2{
  font-size: 20px;
  font-family: 'OpenSans-Semibold';
  color: #484848;
  text-align: center;
  margin-top: 27px;
  margin-bottom: 12px;
}
.text2 p{
  font-size: 14px;
  color: #7c7770;
  font-family: 'OpenSans';
  text-align: center;
  margin-bottom: 30px;
  padding: 0px 58px;
}
/*box end*/
/*feature start*/
.features{
  width: 100%;
  float: left;
}
.features h2{
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-family: 'OpenSans';
  color: #484848;
  padding-bottom: 51px;
}
.logo2{
  width: 100%;
  text-align: center;
  float: left;
  position: relative;
  padding-bottom: 24px;
}
.logo2::after {
  content: "";
  border: 1px solid #e1e1e1;
  width: 48%;
  left: 52%;
  position: absolute;
  margin: 12px 0px;
}
.logo2::before {
  content: "";
  border: 1px solid #e1e1e1;
  width: 48%;
  left: 0%;
  position: absolute;
  margin: 12px 0px;
}
.feature{
  width: 100%;
  float: left;
  padding-bottom: 50px;
  border-bottom: 1px solid #e1e1e1;
}
.featureimg{
  width: 35%;
  float: left;
}
.featureimg:hover {
  opacity: 0.7;
  transition: ease-in-out 0.4s;       
  }
.featuretext{
  width: 65%;
  float: left;
}
.featuretext h3{
  font-family: 'OpenSans-Semibold';
  font-size: 20px;
  color: #484848;
  padding: 22px 0px;
}
.featuretext p{
  color: #7c7770;
  font-family: 'OpenSans';
  font-size: 14px;
  padding-bottom: 32px;
}
.button{
  font-family: 'OpenSans-Bold';
  padding: 11px 20px;
  color: #71b6d5;
  border: 2px solid #71b6d5;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  outline: 0! important;
}
.button:hover{
 color: #7c7770;
 border: 2px solid  #7c7770;
 transition: ease-in-out 0.4s;
}
.feature2{
  width: 100%;
  float: left;
  padding-top: 56px;
  padding-bottom: 93px;
}
.feature2text{
  width: 65%;
  float: left;
}
.feature2text h3{
  font-family: 'OpenSans-Semibold';
  font-size: 20px;
  color: #484848;
  padding-bottom: 29px;
}
.feature2text p{
  font-family: 'OpenSans';
  font-size: 14px;
  color: #7c7770;
  padding-bottom: 36px;
}
.feature2img{
   width: 35%;
  float: left;
  text-align: center;
  padding-top: 11px;
}
.feature2img:hover {
  opacity: 0.7;
  transition: ease-in-out 0.4s;        
}
/*feature end*/
/*project start*/
.project{
  width: 100%;
  float: left;
}
.project h2{
  text-align: center;
  font-family: 'OpenSans';
  color: #484848;
  font-size: 24px;
  padding-bottom: 12px;
}
.project p{
  text-align: center;
  font-family: 'OpenSans';
  font-size: 14px;
  color: #7c7770;
}
.projectimages{
  width: 100%;
  float: left;
  padding-top: 42px;
  padding-bottom: 85px;
}
.projectimage{
  max-width: 100%;
  float: left;
  display: block;
}
.projectbox{
  width: 22%;
  float: left;
  margin-right: 4%;
  position: relative;
}
.projectbox:last-child {
  margin-right: 0;
}
.hover{
  float: left;
  position:absolute;
  width: 100%;
  top: 50%;
  left: 45%;
  transform: scale(0);
  overflow: hidden;
}
.projectbox:hover .hover{
  transform: translateY(-50%);
  top: 50%;
  left: 45%;
  font-size: 40px;
  overflow: hidden;
  width: auto;
  transition: ease-in-out 0.4s;
}
/*project end*/
/*slider(clients)start*/
.client{
  width: 100%;
  float: left;
}
.client h2{
  text-align: center;
  font-family: 'OpenSans';
  font-size: 24px;
  color: #484848;
}
.slider2{
  width: 100%;
  float: left;
  position: relative;
  padding-top: 50px;
  padding-bottom: 66px;
}
.slider2 h4{
  text-align: center;
  font-family: 'OpenSans';
  color: #575757;
  font-size: 18px;
  padding: 0 56px;
  padding-bottom: 60px;
  position: relative;
}
.border{
  position: absolute;
  float: left;
  bottom: 0;
  transform: translateY(-50%);
  top: 65%;
  left: 34%;
}
.slider2 p{
  text-align: center;
  font-family: 'OpenSans';
  color: #484848;
  font-size: 15px;
  padding-bottom: 25px;
}
.slider2 .owl-dots
 {
  position: absolute;
  bottom:0%;
  left:46%;
}
.slider2 .owl-dots .owl-dot 
{ 
  outline: 0! important;
}
.slider2 .owl-dots .owl-dot span 
{
  background-color: #e1e1e1;
  height: 10px;
  width: 10px;
  float: left;
  border-radius: 100%;
  margin-right: 10px;
}
.slider2 .owl-dots .owl-dot.active span 
{
  background-color: #71b6d5;
}
/*slider(clients) end*/
/*footer start*/
.footer{
  width: 100%;
  float: left;
  background:#273a43;
  padding: 65px 0px;
}
.box1{
  width: 23%;
  float: left;
  margin-right: 2.66%;
}
.weblogo{
  float: left;
  width: 100%;
}
.box1 p{
  color: #c3c3c3;
  padding-top: 30px;
  font-family: 'OpenSans';
  font-size: 14px;
}
.box1 h3{
  color: #ffffff;
  font-family: 'OpenSans';
  font-size: 20px;
  margin-top: 9px;
}
.contact{
  width: 100%;
  float: left;
  padding-top: 18px;
}
.details{
  width: 100%;
  float: left;
}
.sign{
  width: 10%;
  color: #71b6d5;
  font-size: 22px;
  float: left;
  text-align: center;
}
.txt{
  width: 90%;
  float: left;
  font-family: 'OpenSans';
  font-size: 14px;
  color: #ffffff;
  margin-top: 8px;
  padding-left: 10px;
}

.twit{
  width: 100%;
  float: left;
  margin-top: 30px;
}
.twit:last-child{
  margin-top: 34px;
}
.txt1{
  width: 90%;
  float: left;
  font-family: 'OpenSans';
  font-size: 14px;
  color:#c4c4c4;
  padding-left: 10px;
}
.box1:last-child{
  margin-right: 0%;
}
.searchbar{
  width: 70%;
  float: left;
  background-color: #172227;
  color: #a7a7a7;
  padding: 12px 16px;
  border: none;
  border-radius: 4px 0% 0% 4px;
  margin-top: 18px;
  font-size: 14px;
  font-family: 'OpenSans';
  outline-color: #71b6d5;
}
.width30{
  width: 30%;
  float: left;
}
.newbutton{
  float: left;
  width: 44px;
  margin-top: 18px;
  height: 44px;
  border-radius: 0% 4px 4px 0%;
  border: none;
  background-color: #71b6d5;
  color: #fff;
  outline: 0! important;
}
.newbutton:hover{
  color: #c4c4c4;
}
.copyrights{
  width: 100%;
  float: left;
  background-color: #172227;
  padding: 30px 0px;
}
.lasttext{
  width: 50%;
  float: left;
  font-family: 'OpenSans';
  font-size: 14px;
  color: #c4c4c4;
  margin-top: 5px;
}
.icons{
  width: 50%;
  float: left;
}
.icons nav ul{
  float: right;
}
.icons nav ul li{
  list-style: none;
  display: inline-block;
}
.icons nav ul li i{
  padding: 7px;
  color: #ffffff;
  background-color: #2c3b42;
  text-align: center;
  margin-right: 6px;
  font-size: 18px;
  width: 29px;
  height: 29px;
  border-radius: 100%;
}
.icons nav ul li:last-child i{margin-right: 0px;}
.icons nav ul li i:hover{
 background-color: #71b6d5;
 transition: ease-in-out .4s;
}
.icons nav ul li:last-child i:hover
{
 background-color: #0073b1;
 transition: ease-in-out .4s;
}
.icons nav ul li:nth-last-child(2) i:hover
{
 background-color:  #3b5998;
 transition: ease-in-out .4s;
}
/*footer ends*/